footer#footer
  .container
    .logo-v
    .row
      .col-xs-4
        p.text-center
          a
            | Contáctanos
      .col-xs-4
        p.text-center
          a
            | Términos de Uso
      .col-xs-4
        p.text-center
          a
            | Inicia Sesión
    p.text-center
      | ©2017 Todos los derechos reservados