@import '../../css/functions';
@import '../../css/colors';

#contact{
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  h2{
    @include mobile{
      font-size: 2.2em;
    }
    @include tablet{
      font-size: 4em;
    }
    @include desktop{
      font-size: 5.2em;
    }

    font-weight: 300;
    color: $orange;
  }
  h3{
    font-size: 2.6em;
    margin: 40px 0 20px 0;
    color: $orange;
  }
  p{
    @include mobile{
      font-size: 1em;
    }
    @include tablet{
      font-size: 1.4em;
    }
    @include desktop{
      font-size: 1.8em;
    }

    font-weight: 300;
    margin: 20px 0;
    strong{
      font-weight: 400;
    }
  }
  .inputcontent{
    @include mobile{
      width: auto;
    }
    @include tablet{
      width: 60%;
    }
    @include desktop{
      width: 50%;
    }
    margin: 50px auto;
    input{
      height: 50px;
      border: 2px solid $orange;
      border-radius: 0;
    }
    .btn{
      height: 50px;
      color: white;
      border: $orange 2px solid;
      border-radius: 0;
      background: $orange;
    }
  }
  .social{
    display: block;
    @include mobile{
      width: auto;
    }
    @include tablet{
      width: 60%;
    }
    @include desktop{
      width: 50%;
    }
    margin: 100px auto;
    .icon{
      @include transition(background .3s ease);

      font-size: 30px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      margin: auto;
      text-align: center;
      color: white;
      background: $orange;
      &.facebook:hover{
        background: #3b5998;
      }
      &.twitter:hover{
        background: #00b6f1;
      }
      &.instagram:hover{
        background: #c32aa3;
      }
    }
  }
  .available{
    display: block;
    float: left;
    width: 100%;
    margin: 100px 0 0;
    p{
      font-size: 1.8em;
      text-transform: uppercase;
    }
  }
  .store{
    @include mobile{
      width: auto;
    }
    @include tablet{
      width: 60%;
    }
    @include desktop{
      width: 70%;
    }
    margin: 40px auto 500px;
  }
}
