#contact(style='{{contact.bgStyle}}')
  h2.text-center Contáctanos
  .container
    p.text-center Vuelve al barrio, vuelve a estar conectado con tu comunidad.
    .inputcontent
      .input-group
        input.form-control(type='text', placeholder='nombre@mail.com')
        span.input-group-btn
          button.btn.btn-default(type='button') Regístrate
    .social
      .col-xs-4
        a.icon
          i.fa.fa-facebook-f
      .col-xs-4
        a.icon
          i.fa.fa-twitter
      .col-xs-4
        a.icon
          i.fa.fa-instagram
    .available
      p.text-center Disponible en Web, Android e iOs
      .store
        .col-xs-6
          img.store.img-responsive(src='{{contact.gp}}')
        .col-xs-6
          img.store.img-responsive(src='{{contact.as}}')