@import '../../css/functions';
@import '../../css/colors';

#how{
  padding: 150px 0;
  .container{
    width: 80%;
  }
  h2{
    @include mobile{
      font-size: 2.2em;
    }
    @include tablet{
      font-size: 4em;
    }
    @include desktop{
      font-size: 5.2em;
    }
    font-weight: 300;
    margin-bottom: 100px;
    color: $orange;
  }
  h3{
    @include mobile{
      font-size: 2em;
    }
    @include tablet{
      font-size: 2em;
    }
    @include desktop{
      font-size: 2.6em;
    }
    margin: 40px 0 20px 0;
    color: $orange;
  }
  p{
    @include mobile{
      font-size: 1.2em;
    }
    @include tablet{
      font-size: 1.2em;
    }
    @include desktop{
      font-size: 1.8em;
    }
    font-weight: 300;
    margin: 20px 0;
    strong{
      font-weight: 400;
    }
  }
}
