#how
  h2.text-center ¿Cómo funciona?
  .container
    .col-sm-6.col-md-6.col-lg-3
      img.img-responsive.center-block(src='{{how.asam}}')
      h3.text-center Asamblea Online
      p.text-center Votaciones virtuales sobre temas de interés vecinal.
    .col-sm-6.col-md-6.col-lg-3
      img.img-responsive.center-block(src='{{how.admin}}')
      h3.text-center Administración
      p.text-center Crea anuncios generales, asambleas virtuales, organiza cobros y exporta planillas con la información.
    .col-sm-6.col-md-6.col-lg-3
      img.img-responsive.center-block(src='{{how.alert}}')
      h3.text-center Alerta Vecinal
      p.text-center Botón de pánico customizable para llamados de emergencia, alertando a todos los vecinos.
    .col-sm-6.col-md-6.col-lg-3
      img.img-responsive.center-block(src='{{how.com}}')
      h3.text-center Comunidad
      p.text-center Conoce e interactúa con tus vecinos en todas las secciones disponibles de WeBarrio.