@import '../../css/functions';
@import '../../css/colors';

header{
  min-height: 520px;
  background-color: $orange!important;
  background-size: cover!important;
}

#top{
  width: 80%;
  margin: 0 auto 520px;
  h2{
    @include mobile{
      font-size: 2.2em;
      margin-top: 40%;
    }
    @include tablet{
      font-size: 4em;
      margin-top: 30%;
    }
    @include desktop{
      font-size: 5.2em;
      margin-top: 25%;
    }

    font-weight: 300;
    color: $purple;
  }
  p{
    @include mobile{
      font-size: 1.2em;
    }
    @include tablet{
      font-size: 2em;
    }
    @include desktop{
      font-size: 2.2em;
    }

    font-weight: 300;
    color: white;
  }
  a{
    @include transition(background .3s ease, color .3s ease);
    @include mobile{
      font-size: 1.2em;
    }
    @include tablet{
      font-size: 2em;
    }
    @include desktop{
      font-size: 2.2em;
    }

    font-weight: 400;
    text-decoration: none;
    color: $purple;
    &.btn-webarrio{
      @include mobile{
        width: 200px;
      }
      @include tablet{
        width: 300px;
      }
      @include desktop{
        width: 300px;
      }

      line-height: 60px;
      display: block;
      margin: auto;
      border: solid $purple 2px;
    }
    &:hover{
      color: white;
      background-color: $purple;
    }
  }
}
