header(ng-parallax, pattern='header.parallaxBg', speed='5')
  .container
    #top.text-center
      h2 Conéctate con tus vecinos y redescubre tu barrio
      p Descubre WeBarrio una nueva aplicación para comunicarte con tu comunidad, mejorar la seguridad vecinal, realizar votaciones virtuales y pagar tus gastos comunes.
      a.btn-webarrio Escríbenos