#philosophy
  .container
    .col-sm-6
      h2 Filosofía
      p La visión moderna de “Eficacia colectiva” sostiene que para generar y lograr las expectativas comunes en una vecindad es necesario que los residentes sean capaces de generar lazos cordiales y de confianza colaborativa para propender al bien común y construir un tejido social sano.
      p 
        strong Disponible en Web, IOS y Android.
      .col-xs-6.nopad
        img.store.img-responsive(src='{{phil.gp}}')
      .col-xs-6.nopad
        img.store.img-responsive(src='{{phil.as}}')
    .col-sm-6.hidden-xs
      img.devices(ng-src='{{phil.devicesBg}}')