@import '../../css/functions';
@import '../../css/colors';

#philosophy{
  overflow: hidden;
  width: 100%;
  
  @include mobile{
      padding: 50px 0 50px;
    }
    @include tablet{
      padding: 150px 0;
    }
    @include desktop{
      padding: 250px 0;
    }
  background-color: $light-grey;
  .nopad{
    padding: 0;
  }
  img{
    &.store{
      padding-right: 10px;
    }
  }
  h2{
    @include mobile{
      font-size: 2.2em;
    }
    @include tablet{
      font-size: 4em;
    }
    @include desktop{
      font-size: 5.2em;
    }

    font-weight: 300;
    color: $orange;
  }
  p{
    @include mobile{
      font-size: 1.2em;
    }
    @include tablet{
      font-size: 2em;
    }
    @include desktop{
      font-size: 2.2em;
    }
    font-weight: 300;
    margin: 20px 0;
    strong{
      font-weight: 400;
    }
  }
}
