@import '../../css/functions';
@import '../../css/colors';

#philosophy{
  overflow: hidden;
  width: 100%;
  padding-top: 250px;
  background-color: $light-grey;
  .nopad{
    padding: 0;
  }
  img{
    &.store{
      padding-right: 10px;
    }
  }
  h2{
    font-size: 5.2em;
    font-weight: 300;
    color: $orange;
  }
  p{
    font-size: 2.2em;
    font-weight: 300;
    margin: 20px 0;
    strong{
      font-weight: 400;
    }
  }
}
